/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fijar header */
header {
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
    position: fixed;
}

/* Cuerpo de la pagina */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    flex-grow: 1;
}
/* Ajuste para reducir el espacio del formulario*/
.form-section {
    width: 35%;
    margin-right: 0px;
}
/* Ajuste para reducir el espacio para los divs*/
.info-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-content {
    background: #376fff;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
}

/* Formato encabezado */
.form-content h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 25px;
}

/* Ordenamiento del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Color y formato de los labels */
label {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

/* Color y formato de areas de texto */
input, textarea {
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: white;
    color: black;
    border-radius: 10px;
}

/* Formato del boton */
.btn {
    font-size: 20px;
    cursor: pointer;
    width: 50%;
    background-color: #fff;
    color: #376fff;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

/* Espacio entre divs */
.grid-container {
    display: grid;
    /*Creacion de columnas*/
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    width: 90%;
}

/* Formato de divs */
.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #376fff;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.info-text {
    color: #000;
    font-size: small;
    text-align: left;
    flex: 1;
}

.info-image {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.info-image img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* Responsividad */
@media (max-width: 991px) {
    body {
        flex-direction: column;
    }
    .form-section, .info-section {
        width: 100%;
    }
    .info-section {
        margin-top: 20px;
    }
    /* Una columna en pantallas pequeñas */
    .grid-container {
        grid-template-columns: 1fr;
    }
}

