/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Fijar header */
header {
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: #fff; 
    z-index: 1000; 
}

/* Cuerpo de la pagina */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px; 
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
}

footer {
    padding: 10px 20px;
    background-color: #f1f1f1;
    text-align: center;
}

/* Ajuste para reducir el espacio del formulario */
.form-section {
    width: 35%;
    margin-right: 20px;
    flex: 1;
}

/* Ajuste para reducir el espacio para los divs */
.info-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
}

.form-content {
    background: #376fff;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
}

/* Formato encabezado */
.form-content h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 25px;
}

/* Ordenamiento del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Color y formato de los labels */
label {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

/* Color y formato de areas de texto */
input, textarea {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: white;
    color: black;
    border-radius: 10px;
}

/* Formato del boton */
.btn {
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
    background-color: #fff;
    color: #376fff;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

/* Espacio entre divs */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

/* Formato de divs */
.info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #376fff;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
}

/* Formato de texto de los divs */
.info-text {
    color: #000;
    font-size: 1rem;
    text-align: left;
    flex: 1;
}

/* Formato de div de imagen */
.info-image {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* Formato de la imagen */
.info-image img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

/* Estilo del boton de WhatsApp */
.float-wa {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 25px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

/* Responsividad */
@media (max-width: 991px) {
    main {
        flex-direction: column;
        padding: 20px;
    }

    .form-section, .info-section {
        width: 100%;
        margin-right: 0;
    }

    .form-section {
        margin-bottom: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:330px) {
    .info-box{
        width: 90%;
        margin: auto;
    }

    .info-image img{
        padding: 15%;
    }
 }

/*Mensaje de envio con exito del formulario*/
.success_message {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }
