.col {
    overflow: hidden;
  }
  
  .header-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    position: relative;
    display: inline-block;
    text-align: center;
  
  
  }
  
  .img-container {
    position: relative;
    margin-bottom: 100px;
  }
  
  .img-container p {
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 0);
    font-weight: bolder;
    font-size: 40px;
  
  }
  
  .description {
    width: 60%;
    margin: auto;
  
    font-weight: bolder;
    text-align: center;
    color: #000000;
  }
  
  .title {
  
    font-size: 25px;
  }
  
  .paragraph {
    padding: 10px;
  }
  
  .companies-container {
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(255, 255, 0);
  }
  
  .companies {
    width: 75%;
    margin: 30px auto;
  }
  
  .card-body {
    height: 300px;
    background-color: rgb(255, 255, 0);
  }
  
  .animation:hover {
    background-color: white;
  }
  
  .title-section {
    font-size: 30px;
    color: rgb(0, 100, 0);
    font-weight: bolder;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
  
  }
  
  .content-personal .paragraph {
    width: 75%;
    margin: 30px auto;
    font-weight: bold;
  }
  
  .content-personal {
    width: 80%;
    margin: 30px auto;
  
  }
  
  .accordion-p {
    background-color: #000000;
    color: rgb(230, 196, 25);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
  }
  
  .active,
  .accordion-p:hover {
    background-color: rgb(230, 196, 25);
    color: black;
  }
  
  .panel {
    padding: 5px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .container-experience {
    width: 90%;
    margin: 100px auto;
  }
  
  .col {
    text-align: center;
  }
  
  .title-experience {
    text-align: center;
    margin: 50px;
    font-size: 30px;
    font-weight: bolder;
  }
  
  h2 {
    font-weight: bolder;
    padding: 5px;
    color: rgb(0, 100, 0);
  }
  
  .contact {
    width: 100%;
    background-color: rgb(0, 100, 0);
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 80px;
  }
  
  .contact a {
    border: none;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: black;
  }
  
  .contact a:hover {
    border: none;
    padding: 10px;
    color: black;
    text-decoration: none;
    background-color: white;
  }
  
  
  
  @media screen and (max-width: 1000px) {
    #writer {
      font-size: 20px;
      color: black;
    }
  
    .img-container {
      width: 100%;
      height: 190px;
      position: relative;
  
    }
  
    .header-image {
      width: 100%;
      height: 300px;
  
    }
  
    #QueHacemos {
      margin-top: 150px;
  
    }
  
    .title,
    .title-section,
    .title-experience {
      font-size: 20px;
    }
  
    .paragraph {
      font-weight: initial;
    }
  
    .card-title {
      font-size: 18px;
      font-weight: bold;
    }
  
    .card-body {
      height: 550px;
    }
  
    .contact {
      font-size: 18px;
    }
  }
  
  /*Nest Hub Max*/
  @media screen and (max-width: 128px)and (max-height:800px) {
    .card-body {
      height: 325px;
    }
  }
  /*NestHub*/
  @media screen and (max-width: 1024px)and (max-height:600px) {
    .card-body {
      height: 400px;
    }
    .card-title{
      font-size: 15px;
      font-weight: bold;
    }
  }
  /*IPad Pro*/
  @media screen and (max-width: 1024px)and (max-height:1366px) {
    .card-body {
      height: 400px;
    }
    .card-title{
      font-size: 15px;
      font-weight: bold;
    }
  }
  /*iPad Air*/
  @media screen and (max-width: 820px)and (max-height:1180px) {
    .card-body {
      height: 400px;
      font-size: 13px;
    }
    .card-title{
      font-size: 15px;
      font-weight: bold;
    }
  }
   /*Samsum Galaxy A51/71*/
  @media screen and (max-width: 412px)and (max-height:914px) {
    .row{
      display: grid;
      grid-template-rows: auto auto;
    }
    .card-body {
      height: 230px;
    }
    .companies {
      width: 95%;
      margin: 30px auto;
      display: grid;
    }
    .card-title{
      font-size: 15px;
      font-weight: bold;
    }
    #QueHacemos{
      width: 90%;
    }
  }