*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
}

.slider {
    width: 60%;
    height: auto;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.slider .slider--inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider .slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider .slide img {
    width: 100%;
    display: block;
}

.text-container {
    width: 35%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.text-container .titulo {
    color: #007bff;
}

@media screen and (max-width: 1000px) {
    .container {
        margin-top: 2em;
        flex-direction: column;
        width: 70vw;
    }

    .slider {
        width: 100%;
        margin-right: 0;
    }

    .text-container {
        width: 100%;
        font-size: 1em;
        margin-top: 20px;
    }
    .titulo{
        font-size: 1.3em;
    }
    .subtitulo{
        font-size: 1.3em;
    }
}

/* ipad pro */
@media screen and (min-width: 1024px) and (min-height:1366px) {
    .container {
        margin-top: 2em;
        flex-direction: column;
        width: 80vw;
    }

    .slider {
        width: 100%;
        margin-right: 0;
    }

    .text-container {
        width: 100%;
        font-size: 2em;
        margin-top: 20px;
    }
    .titulo{
        font-size: 2em;
    }
    .subtitulo{
        font-size: 2em;
    }
}
