* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding-top: 130px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
}

.slider {
    width: 60%;
    height: auto;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.slider .slider--inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.slider .slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider .slide img {
    width: 100%;
    display: block;
}

.text-container {
    width: 35%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.text-container .titulo {
    color: #007bff;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.quienes-somos-card {
    transition: box-shadow 0.3s ease-in-out;
}

.quienes-somos-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.quienes-somos-card .card-body {
    padding: 2rem;
}

.quienes-somos-card .card-title {
    font-size: 2rem;
}

.quienes-somos-card .card-text {
    line-height: 1.6;
}

.reason-cards {
    margin-top: 2rem;
}

.reason-cards .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.reason-cards .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.reason-cards .card .card-body {
    padding: 2rem;
}

.reason-cards .card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.reason-cards .card .fa {
    color: #007bff;
}

.service-card {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.service-card .card-body {
    padding: 2rem;
}

.service-card .card-title {
    margin-bottom: 1rem;
}

.service-card .btn {
    width: 100%;
}

section {
    margin-top: 3px;
}

/* Estilo del boton de WhatsApp */
.float-wa {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    .container {
        margin-top: 2em;
        flex-direction: column;
        width: 70vw;
    }

    .slider {
        width: 100%;
        margin-right: 0;
    }

    .text-container {
        width: 100%;
        font-size: 1em;
        margin-top: 20px;
    }

    .titulo {
        font-size: 1.3em;
    }

    .subtitulo {
        font-size: 1.3em;
    }

    .section-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }
}

/* ipad pro */
@media screen and (min-width: 1024px) and (min-height:1366px) {
    .container {
        margin-top: 2em;
        flex-direction: column;
        width: 80vw;
    }

    .slider {
        width: 100%;
        margin-right: 0;
    }

    .text-container {
        width: 100%;
        font-size: 2em;
        margin-top: 20px;
    }

    .titulo {
        font-size: 2em;
    }

    .subtitulo {
        font-size: 2em;
    }
}
